/* Button Defa */
.button-Default {
  color: #ffffff;
  padding: 6px 10px;
  font-weight: 900;
  font-size: 12px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
}

/* .button-Default:hover {
  color: #ffffff;
} */
